.modal{
    position: fixed;
    height: 100%;
    width: 100vw;
    background-color: rgba(143, 142, 142, 0.671);
    z-index: 3;
    display: flex;
    justify-content: center;
}

.modalContainer{
    width: 45%;
    height: 50%;
    background-color: white;
    border-radius: 20px;
    margin-top: 40px;
}

.modalHeader{
    padding: 5px 8px;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.closeBtn{
    background-color: transparent;
    border: none;
    border-radius: 50px;
    padding: 3px;
    font-size: 12px;
}

.closeBtn:hover{
    background-color: rgb(233, 233, 233);
}

.replyContainer{
    padding: 10px;
}

.modalForm{
    display: flex;
    justify-content: space-around;
}

.modalForm img{
    height: 40px;
    border-radius: 50px;
    margin: 10px;
}

.inputBox textarea{
    height: 130px;
    width: 530px;
    border: none;
    outline: none;
    padding-top: 20px;
    font-size: 20px;
    font-family: sans-serif;
}

.selectOption{
    border-bottom: 1px solid rgb(201, 201, 201);
    width: 90%;
}

.inputBox select{
    border: none;
    outline: none;
}


/* select tag */
#reply{
    border:none;
    outline: none;
    font-size: 14px;
    color: rgb(29, 155, 240);
 }
 
 .mediaUpload_and_SubmitBtn{
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 85%;
     margin-top: 10px;
     padding: 0px;
 }
 
 .fileUpload {
     position: relative;
     overflow: hidden;
     margin: 10px;
     border-radius: 50px;
     width: fit-content;
     padding: 5px;
 }
 .fileUpload:hover{
     background-color: skyblue;
 }
 .imgUploadIcon{
     color: rgb(19, 149, 182);
 }
 .fileUpload input.upload {
     position: absolute;
     top: 0;
     right: 0;
     margin: 0;
     padding: 0;
     font-size: 20px;
     cursor: pointer;
     opacity: 0;
     filter: alpha(opacity=0);
 }
 
 .mediaUpload_and_SubmitBtn button{
     background-color: rgb(29, 155, 240);
     color: white;
     border: none;
     border-radius: 20px;
     width: 90px;
     height: fit-content;
     padding: 10px;
     cursor: pointer;
 }
 
 /* Reply modal components */

 .inputBox .replyBox{
    height: 90px;
    width: 530px;
    border: none;
    outline: none;
    padding-top: 20px;
    font-size: 20px;
    font-family: sans-serif;
 }

.replyBtn{
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    border-radius: 20px;
    width: 90px;
    height: fit-content;
    padding: 10px;
    cursor: pointer;
 }

