.signupForm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(211, 211, 211);
    position: absolute;
    top : 0;
}
.formContainer{
    width: 38%;
    background-color: white;
    border: 1px solid rgb(207, 207, 207);
    height: 530px;
    border-radius: 15px;
    padding: 20px 30px;
}
.cancelBtn{
    background-color: transparent;
    border: none;
    font-size: 18px;
    border-radius: 50px;
    padding: 3px;
    margin: 0;
    position: absolute;
    cursor: pointer;
}
.cancelBtn:hover{
    background-color: rgb(238, 238, 238);
}
.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    height: 37px;
}
.formContainer form div input{
    width: 94%;
    padding: 17px;
    border: 1px solid rgb(199, 198, 198);
    border-radius: 5px;
    outline-offset: 1px;
    outline-color: rgb(24, 153, 204);
} 

.inputBoxContainer{
    margin-top: 20px;
}

/* .inputBoxContainer p{
    margin: 0;
    padding: 0;
} */

.alertMSG{
    color: red;
    padding: 0;
    margin: 0;
}

.phoneEmailToggle{
    color: rgb(47, 169, 206);
    padding: 10px 0;
    margin-top: 10px 0;
    cursor: pointer;
}

.calendar{
    margin-top: 20px;
}

.calendar p {
    padding: 0;
    margin: 0;
}

select{
    padding: 15px;
    border: 1px solid rgb(199, 198, 198);
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.datePicker{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.selectMonth{
    width: 47%;
}
.selectDay{
    width: 22%;
}
.selectYear{
    width: 27%;
}

.nextBtn{
    background-color: rgb(0, 153, 255);
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    margin-top: 280px;
    cursor: pointer;
}

.forgetPassBtn{
    text-align: center;
    background-color: rgb(8, 8, 8);
    color: white;
    width: 97%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    margin-top: 280px;
    cursor: pointer;
}