.sidebar{
    max-width: 330px;
    /* margin-left: 530px; */
}

.searchBarHeader{
    position: fixed;
    width: 400px;
    background-color: white;
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.serachBox{
    height: 25px;
    background-color: rgb(240, 240, 240);
    width: 290px;
    padding: 5px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.serachBox button{
    padding: 0px;
    border:none;
    background-color: transparent;
}
.serachBox input{
    height: 100%;
    width: 100%;
    border:none;
    background-color: transparent;
    outline: none;
}

.sidebarContent{
    padding: 20px 25px;
}

.newsBox{
    height: 600px;
    width: 330px;
    background-color: rgb(240, 240, 240);
    margin-top: 40px;
    border-radius: 15px;
}

.followRecommendBox{
    height: 300px;
    width: 330px;
    background-color: rgb(240, 240, 240);
    margin-top: 20px;
    border-radius: 15px;
}

.followRecommendBox .title{
    padding: 20px 10px 0px 10px;
    font-size: 18px;
    font-weight: bolder;
}
