.sidebar{
    width: fit-content;
}

.searchBarHeader{
    position: fixed;
    width: 400px;
    background-color: white;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.serachBox{
    height: 25px;
    background-color: rgb(240, 240, 240);
    width: 290px;
    padding: 5px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.serachBox button{
    padding: 0px;
    border:none;
    background-color: transparent;
}
.serachBox input{
    height: 100%;
    width: 100%;
    border:none;
    background-color: transparent;
    outline: none;
}

.sidebarContent{
    padding: 20px 25px;
    position: fixed;
}

.newsBox{
    height: 595px;
    width: 330px;
    background-color: rgba(245, 245, 245, 0.692);
    margin-top: 40px;
    border-radius: 15px;
}

.newsBox h3{
    padding: 10px;
    margin: 0px;
}

.trending{
    display: flex;
    padding: 10px;
    cursor: pointer;
    margin-top: 3px;
}

.trending:hover{
    background-color: rgb(240, 240, 240);
}

.trending p{
    padding: 0;
    margin: 0;
}

.trendigTopic p:nth-child(1){
    color: grey;
    font-size: 14px;
}

.trendigTopic p:nth-child(2){
    color: rgb(51, 51, 51);
    font-size: 16px;
    font-weight: bolder;
}

.showMoreLink{
    padding: 15px 10px;
    color: rgb(116, 193, 238);
    cursor: pointer;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}

.showMoreLink:hover{
    background-color: rgb(240, 240, 240);
}

.followRecommendBox{
    height: 300px;
    width: 330px;
    background-color: rgba(245, 245, 245, 0.692);
    margin-top: 20px;
    border-radius: 15px;
}

.followRecommendBox .title{
    padding: 20px 10px 0px 10px;
    font-size: 18px;
    font-weight: bolder;
}

